:root {
    --Chick-fil-A-Red: #DD0031;
    --Dark-Red: #940929;
    --Green: #249E6B;
    --Navy: #004F71;
    --Blue: #3EB1C8;
    --Light-Blue: #AAD6D2;
    --Dark-Gray: #5B6770;
    --Warm-Gray: #DAD7D2;
    --Warm-White: #F4F1EC;
    --Warm-White-Transparent: #f4f1ec6f;
}

@font-face {
    font-family: Apercu;
    src: url(resources/fonts/Apercu/Apercu\ Pro\ Regular.otf);
}

@font-face {
    font-family: ApercuBold;
    src: url(resources/fonts/Apercu/Apercu\ Pro\ Bold.otf);
}

html,
body {
    font-family: Apercu;
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;

}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: var(--Warm-White-Transparent);
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    z-index: 15;
    animation: slideFromTop 1s ease;
}

/* Logo on site header */
header img {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    height: 70%;
    cursor: pointer;
    transition: filter 0.2s ease;
}

header img:hover {
    filter: brightness(120%);
}

/* Main navigation for desktop */
header nav {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

header nav a {
    margin-left: 2vh;
    font-family: ApercuBold;
    font-size: 3vh;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-shadow: 0.25vh 0.25vh 0.5vh rgba(255, 255, 255, 1);
    transition: color 0.2s ease;
}

header nav a:hover {
    color: var(--Chick-fil-A-Red);
}

/* Toggles Nav Menu, visible only to mobile users */
navButton {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    height: 60%;
    aspect-ratio: 1;
    border: none;
    border-radius: 1vh;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

/* Icon inside the navButton */
navButton img {
    width: 60%;
    opacity: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

navButton:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

navButton:active {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

/* Compressed side menu for navigation */
navMenu {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 45%;
    top: 100%;
    right: 2%;
    padding: 0;
    z-index: 1;
}

navMenu a {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    width: 91%;
    font-size: 3vh;
    text-decoration: none;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    transition: color 0.2s ease;
}

navMenu a:hover {
    /*filter: brightness(150%);*/
    color: var(--Chick-fil-A-Red);
}

/* Use this class to make something slide down */
.slideDown {
    animation: slideDown 0.5s backwards;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-200%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

/* Use this class to make something slide up */
.slideUp {
    animation: slideUp 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(0%);
        opacity: 100%;
    }

    100% {
        transform: translateY(-200%);
        opacity: 0%;
    }
}

/* Large banner at the top of pages */
.pageCover {
    height: 95vh;
    width: 100%;
    background-image: url("resources/media/CowAndGroup.png");
    filter: blur(0px);
    background-position: 20%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Content that resides inside the page cover, usually the title */
.pageCoverContent {
    position: absolute;
    top: 40%;
    left: 12%;
    width: 85%;
    color: white;
    font-size: 7vh;
    text-shadow: 4px 4px 5px black;
    animation: slideFromLeft 1s ease;
}

.pageBody {
    margin: 10%;
}

h1 {
    color: var(--Navy);
    font-family: ApercuBold;
    font-size: 5vh;
    text-decoration: underline;
}

h2 {
    color: var(--Chick-fil-A-Red);
    font-family: ApercuBold;
    font-size: 4vh;
}

h3 {
    font-size: 2.5vh;
    margin-bottom: 0.75vh;
}

h4 {
    font-size: 2vh;
    color: black;
}

p {
    font-size: 2vh;
    line-height: 3.5vh;
    color: var(--Dark-Gray);
}

button {
    background-color: var(--Blue);
    font-family: ApercuBold;
    color: black;
    font-size: 2.75vh;
    border: none;
    border-radius: 6px;
    padding: 1.5vh;
    cursor: pointer;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

button:hover {
    filter: brightness(120%);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

input,
select {
    font-family: Apercu;
    color: black;
    font-size: 2vh;
    padding: 1vh;
    border: solid 2px black;
    border-radius: 6px;
    outline: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease;
}

input:focus {
    box-shadow: 6px 6px 8px rgba(160, 136, 136, 0.25);
}

/* A series of four columns that can be compressed for mobile viewing */
.quadColumnContainer {
    display: flex;
    text-align: center;
    grid-template-columns: 4;
}

.quadColumn {
    width: 20%;
    padding: 2%;
    margin: 2%;
    text-align: center;
    margin: auto;
}

.quadColumn img {
    width: 100%;
}

.quadColumn content {
    color: var(--Dark-Gray);
    font-size: 1.75vh;
    text-align: left;
}

form {
    margin: auto;
    width: fit-content;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.08));
    padding: 4vh;
    border: none;
    border-radius: 2vh;
}

.formInput {
    margin: auto;
    width: 70%;
}

input[type=submit] {
    font-family: Apercu;
    color: black;
    font-size: 2vh;
    padding: 1vh;
    border: solid 2px black;
    border-radius: 6px;
    outline: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
    background-color: var(--Blue);
    cursor: pointer;
}

input[type=submit]:hover,
.submitButton:hover {
    filter: brightness(120%);
}

input[type=submit]:active,
.submitButton:active {
    filter: brightness(110%);
}

footer {
    width: 100%;
    background-color: rgb(40, 40, 40);
    color: white;
    height: fit-content;
    text-align: center;
    padding: 4vh;
    overflow: hidden;
}

footer p {
    color: white;
    font-size: 1.75vh;
    margin: 0;
}

a {
    color: var(--Chick-fil-A-Red);
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--Dark-Red);
}

.shadow {
    box-shadow: 0.5vh 0.5vh 2vh rgba(0, 0, 0, 0.25);
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

.slideFromLeft {
    animation: slideFromLeft 1s ease;
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

.slideFromRight {
    animation: slideFromRight 1s ease;
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

.slideFromTop {
    animation: slideFromTop 1s ease;
}

li {
    font-size: 2vh;
    color: var(--Dark-Gray);
}