@keyframes slideDown {
    0% {
        transform: translateY(-200%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0%);
        opacity: 100%;
    }

    100% {
        transform: translateY(-200%);
        opacity: 0%;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

/* Use this class to make something slide down */
.slideDown {
    animation: slideDown 0.5s backwards;
    animation-fill-mode: forwards;
}

/* Use this class to make something slide up */
.slideUp {
    animation: slideUp 0.5s linear;
    animation-fill-mode: forwards;
}

.slideFromLeft {
    animation: slideFromLeft 1s ease;
}

.slideFromRight {
    animation: slideFromRight 1s ease;
}

.slideFromTop {
    animation: slideFromTop 1s ease;
}