button {
    background-color: var(--Blue);
    font-family: ApercuBold;
    color: black;
    font-size: 2.75vh;
    border: none;
    border-radius: 6px;
    padding: 1.5vh;
    cursor: pointer;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

button:hover {
    filter: brightness(120%);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

input,
textarea,
select {
    font-family: Apercu;
    color: black;
    font-size: 2vh;
    padding: 1vh;
    border: solid 2px black;
    border-radius: 6px;
    outline: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    transition: box-shadow 0.3s ease;
}

input:focus {
    box-shadow: 6px 6px 8px rgba(160, 136, 136, 0.25);
}

form {
    margin: auto;
    width: fit-content;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.08));
    padding: 4vh;
    border: none;
    border-radius: 2vh;
}

.formInput {
    margin: auto;
    width: 70%;
}

input[type=submit] {
    font-family: Apercu;
    color: black;
    font-size: 2vh;
    padding: 1vh;
    border: solid 2px black;
    border-radius: 6px;
    outline: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
    background-color: var(--Blue);
    cursor: pointer;
}

input[type=submit]:hover,
.submitButton:hover {
    filter: brightness(120%);
}

input[type=submit]:active,
.submitButton:active {
    filter: brightness(110%);
}

input,
select,
form button {
    width: 100%;
}

select {
    width: 103.5%;
}

.submitButton {
    font-family: Apercu;
    color: black;
    font-size: 2vh;
    padding: 1vh 4vh 1vh 4vh;
    border: solid 2px black;
    border-radius: 6px;
    outline: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
    background-color: var(--Blue);
    cursor: pointer;
}

input[type=radio] {
    box-shadow: none;
    text-align: left;
    width: fit-content;
}