/* A series of four columns that can be compressed for mobile viewing */
.quadColumnContainer {
    display: flex;
    text-align: center;
    grid-template-columns: 4;
}

.quadColumn {
    width: 20%;
    padding: 2%;
    margin: 2%;
    text-align: center;
    margin: auto;
}

.quadColumn img {
    width: 100%;
}

.quadColumn content {
    color: var(--Dark-Gray);
    font-size: 1.75vh;
    text-align: left;
}